.mainmenubtn{
    font-size: 1rem;
    background: #BFB4B0;
    padding:  15px 20px;
    margin-right: 30px; 
    display: none;
    border-radius: 10px;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }

.hover-underline-animation:after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dropdown-child a:hover .hover-underline-animation:after {    /* Cuando esta hover el anchor, le aplico la animacion al span */
  transform: scaleX(1);
  transform-origin: bottom left;
}